@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* Main Page Colour */
html {
    height:100%;
    background: linear-gradient(90deg, #6600ff 0%, #ff5c33 100%);
    text-align: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Logo Image */
.logo {
    width: 100%;
    max-width: 800px;
    height: auto;
}

/* Base Form */
form {
    font-family: "Montserrat", sans-serif;
    color: white;
    width: 100%;
    text-align: center;	
}

.inner {
    width: 60%;
    padding: 8px 0;
    display: inline-block;
    
}

/*Default Hyperlinks */
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*When hovering on hyperlinks*/
a:hover, a:focus {
  color: blue;
  transition: all 0.2s;
}

/*Login/Registration/Submit buttons*/
button {
  background: white;
  color: #d61e2d;
  width: 180px;
  border: none;
  border-radius: 40px;
  padding: 8px 0;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 32px;
  outline: none;
}

/*When howering over button, cursor turns to pointer*/
button:hover, button:focus {
    cursor: pointer;
}

/*--------------------Upload Image------------------------*/
[type=file] {
  height: 0;
  overflow: hidden;
  width: 0;
}

[type=file] + label {
  background: #f15d22;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;
}

[type=file] + label:hover {
  background-color: #d3460d;
}
/*---------------------------------------------------*/


/*Provides padding space. Important for keeping things above footer*/
.my-padding-64{
    padding-top:64px!important;
    padding-bottom:64px!important;
}


/* Aligns elements of radio menu in the center. */
.radioContainer {
    text-align: center;
}

/*Makes forms responsive*/
.responsive {
	position: relative;
	width: auto;

}

/* table*/
table {
    width: 100%;
}

/* Paragraphs (non-footer)*/
p {
    color: yellow;
}

/*Fieldset around some forms, makes them not stretch across whole page*/
fieldset {
    display: inline-block;
}


/* -----------------------Footer---------------------- */
footer {
    position: fixed;
    bottom: 0; /* Move to bottom of page */
    left: 0;
    width: 100%; /* Width of box surrounding text */
    text-align: center; /* Location of text */
    background: linear-gradient(90deg, rgba(255,255,255,0.0) 0%, rgba(148,148,148,0.5) 25%, rgba(0,0,0,1) 50%, rgba(143,143,143,0.5) 75%, rgba(255,255,255,0.0) 100%); /* Gradient is horizontal, (colour,transparency(0.0 means fully transparent) % position along length of box)*/
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

footer p {
    color: lightblue; /* Text colour */
}

/* -----------------------DATA TABLES---------------------- */
.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

th:first-child {
    border-top-left-radius:3px;
}
 
th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}
  
tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
}
 
tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom:none;
}
 
tr:nth-child(odd) td {
    background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
    background:#4E5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}

/* Table hyperlinks are black and not underlined */
td a { 
    display: block; 
    padding: 16px;
    text-decoration: none;
    color: black;
}


/* -----------------------NAVIGATION BAR---------------------- */

nav {
    max-width: 960px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 60px 0;
}

nav ul {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: black;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
}

/* ------------------------ITEM PAGE----------------------------- */

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#container div {
    padding: 20px;
    margin: 10px; 
}

.div-1, .div-2 {
    flex: 1 1 0;
}

.div-3 {
    flex: 100%;
    order: 3;
    padding-top: 50px;
}

/*Used to adjust image*/
.great {
	max-width: 453.5px;
    min-width: 244px;
    width: 100%;
	height: auto;	
}

/* ----------------------------------------------------- */
























